//Widescreens
@include mediaXl{
    html{
        font-size: 100%;
    }

    .menu-nav {
        width: 100%;
        height: 10vh;
        flex-flow: row;
    }

    .nav-item {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    #home {
        top: 30vh;
    }

    .about-info{
        grid-template-areas:
        'bioimage bio bio bio';
        grid-template-columns: repeat(4, 1fr);
    }

    .projects{
        grid-template-columns: repeat(4, 1fr);
    }
}

//Desktops and Laptops
@include mediaLg{
    html{
        font-size: 100%;
    }

    .menu-nav {
        width: 100%;
        height: 10vh;
        flex-flow: row;
    }

    .nav-item {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    #home {
        top: 30vh;
    }

    .about-info{
        grid-template-areas:
        'bioimage bio bio bio';
        grid-template-columns: repeat(4, 1fr);
    }
    
    .projects{
        grid-template-columns: repeat(3, 1fr);
    }
}

//Tablets and Small Laptops
@include mediaMd{
    html{
        font-size: 90%;
    }

    .menu-nav {
        flex-flow: column wrap;
        width: 100%;
        height: 100vh;
    }

    .nav-item {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    #home {
        top: 20vh;
    }

    .about-info{
        grid-template-areas:
        'bioimage'
        'bio';
        grid-template-columns: 1fr;
    }

    .bio{
        text-align: center;
    }

    .projects{
        grid-template-columns: repeat(2, 1fr);
    }

    #bg-img{
        background-position: 50%, 100%;
    }
}

//Smartphones
@include mediaSm{
    html{
        font-size: 85%;
    }

    .menu-nav {
        flex-flow: column wrap;
        width: 100%;
        height: 100vh;
    }

    .nav-item {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    #home {
        top: 15vh;
    }

    .about-info{
        grid-template-areas:
        'bioimage'
        'bio';
        grid-template-columns: 1fr;
    }

    .bio{
        text-align: center;
    }

    .projects{
        grid-template-columns: 1fr;
    }

    #bg-img{
        background-position: 50%, 100%;
      }
}

