@import "config";
@import "menu";

html {
  scroll-behavior: smooth;
  font-size: 0px;
}

body {
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  line-height: 1.5;

  // Section Manipulation

  section {
    min-height: 100%;

    // Home

    &#home {
      top: 0;
      left: 0;
      height: 100vh;

      h1 {
        font-size: 62px;
        color: #fff;
        margin-top: 10vh;
        margin-bottom: 0px;
        text-transform: uppercase;
        background-color: rgba($grey-color, $background-opacity);
      }

      h2 {
        font-size: 16px;
        color: #fff;
        margin-top: 0px;
        margin-bottom: 0px;
        text-transform: uppercase;
        background-color: rgba($grey-color, $background-opacity);
      }
    }

    #arrow {
      position: absolute;
      left: 50%;
      bottom: 10px;
      margin: auto;
      font-size: 45px;
      color: $grey-color;
      width: 45px;
      height: 45px;
      transform: translate(-50%, -50%);

      .fa-chevron-circle-down {
        background-color: rgba(#fff, $background-opacity);
        border-radius: 50%;
      }

        &:hover {
          width: 50px;
          height: 50px;
          font-size: 50px;
          @include ease0ut;
        }
    }

    // Food

    &#food {

      .menu-heading {
        width: 100vw;
        font-size: 36px;
        font-weight: 600;
        color: #fff;
        margin: 0;
        text-transform: uppercase;
        background-color: darken($grey-color, $background-opacity);
        vertical-align: middle;

        &:hover {
          color: $primary-color;
          cursor: default;
          @include ease0ut;

          .fa-caret-down {
            color: $primary-color;
            @include ease0ut;
          }
        }
      }

      .fa-caret-down {
        color: rgb(170, 170, 170);
      }

      .dropdown {
        justify-content: center;
        overflow: hidden;
      }

      .product-bar {
        position: absolute;
        display: grid;
        @include ease0ut;
        width: 100%;
        background-color: rgba($grey-color, 0.9);
        visibility: hidden;
        z-index: 2;

        &.show {
          visibility: visible;
        }
      }

      .category {
        border: none;
        padding: 0;
        font-size: 32px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        margin: 5px 10px 5px 10px;
        padding: 5px 5px 5px 5px;
        background-color: transparent;

        &.show {
          visibility: visible;
        }

        &:hover {
          color: $primary-color;
          @include ease0ut;
          cursor: pointer;
        }
      }

      .grid-list {
        text-align: left;
        margin: 20px 20px 30px 20px;

        li {
          font-size: 16px;
          display: block;
          font-weight: 500;
          margin-top: 4px;
          margin-bottom: 4px;
        }

        .right {
          align-self: center;
          text-align: right;
          margin-right: 20px;
        }

        .center {
          align-self: center;
        }

        .product-grid {
          grid-template-columns: 40px auto 90px 90px;
          display: grid;
        }

        .veg-item, .starter-item, .main-item, .side-item, .set-item, .dessert-item, .beverage-item {
          margin: 0px auto 0px auto;
          max-width: 550px;
          display: none;
        }

        .veg-item {
          display: block;
        }

        .set-border {
          padding: 5px 5px 5px 15px;
          margin: 10px 10px 10px 10px;
          border: #000 solid 2px;
          border-radius: 25px;
        }

        // Product Span

        .green {
          color: rgb(0, 66, 0);
          font-weight: bold;
        }

        .fa-pepper-hot {
          color: DarkRed;
          font-weight: bold;
        }

        .nut {
          width: 16px;
          height: 16px;
          filter: invert(29%) sepia(74%) saturate(542%) hue-rotate(341deg) brightness(97%) contrast(92%);
          position: relative;
          z-index: 0;
        }
      }
    }

    // Contact

    &#contact {

      .contact-heading {
        color: #fff;
        font-size: 32px;
        margin-bottom: 30px
      }

      .contact-bg {
        margin: 20px 20px 20px 20px;
        padding: 20px 30px 20px 30px;
        background-image: linear-gradient(
          rgba($grey-color, 0.9),
          rgba($grey-color, 0.9)
        );
      }

      .contact-text {
        color: #fff;
        font-size: 20px;
      }

      .location {
        font-weight: 500;
      }

      a {
        margin: 0px 10px 0px 10px;
      }

      .fab {
        font-size: 40px;
        &:visited {
          text-decoration: none;
        }
        &:hover {
          text-decoration: none;
        }
        &:focus {
          text-decoration: none;
        }
      }
      
      .fa-tripadvisor {
        color: rgb(0, 100, 0);
      }

      .fa-facebook {
        color: rgb(0, 0, 165);
      }
    }
  }

  // Footer

  footer {
    font-size: 12px;
    background: $grey-color;
  }

  // Grid

  .grid-list {
    display: grid;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  // Background Image Manipulation

  .overlay {
    vertical-align: top;
    position: relative;
    background-size: cover;
    background-attachment: fixed; // Image position does not move even when scrolled
    background-position: 70%, 50%; // Uses the center of the image
  }

  .home {
    background-image: $home;
  }

  .food {
    background-image: linear-gradient(
      rgba(lightgrey, 0.7),
      rgba(lightgrey, 0.7)
    ),
    $food;
  }

  .contact {
    background-image: linear-gradient(
        rgba($grey-color, $background-opacity),
        rgba($grey-color, $background-opacity)
      ),
      $contact;
  }

  // Font Manipulation

  p {
    font-size: 16px;
    margin: 0.5em 0px 0.5em 0px;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  h4 {
    font-size: 20px;
    margin: 20px 0px 10px 0px;
  }

  h5 {
    font-size: 16px;
    margin: 10px 10px 20px 10px;
  }

  hr {
    width: 60%;
    margin: 30px auto 30px auto;
    opacity: 0.7;
    height: 1px;
    border: 0;
    background-color: DarkGrey;
  }

  button {
    border-width: 0px;
  }

  .small {
    font-size: 10px;
    vertical-align: middle;
    margin: 0 5px 0 5px;
  }

  // Google Maps

  .map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
}

@import "mobile";
